<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>0x1f603</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f60d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f612</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f633</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f601</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f618</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f609</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f620</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f61e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f625</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f62d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f61d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f621</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f623</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f614</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f604</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f637</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f61a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f613</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f602</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f60a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f622</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f61c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f628</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f630</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f632</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f60f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f631</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f62a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f616</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f60c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f47f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f47b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f385</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f467</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f466</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f469</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f468</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f436</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f431</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f44d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f44e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f44a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x270a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x270c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4aa</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f44f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f448</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f446</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f449</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f447</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f44c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2764</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f494</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f64f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2600</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f319</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f31f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x26a1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2601</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2614</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f341</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f33b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f343</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f457</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f380</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f444</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f339</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2615</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f382</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f559</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f37a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f50d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4f1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3e0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f697</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f381</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x26bd</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4a3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f48e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f38d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f49d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f38e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f392</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f393</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f38f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f386</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f387</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f390</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f391</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f383</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f47b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f385</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f384</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f381</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f38b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f389</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f38a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f388</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f38c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f52e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3a5</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4f7</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4f9</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4fc</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4bf</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4bd</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4be</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4bb</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4f1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x260e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4de</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4df</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4fa</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4fb</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f508</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f509</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f50a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f507</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f514</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f515</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e2</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x23f3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x231b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x23f0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x231a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f513</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f512</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f50f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f510</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f511</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f50e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4a1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f526</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f506</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f505</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f50c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f50b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f50d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f6c1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f6c0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f6bf</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f6bd</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f527</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f529</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f528</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f6aa</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f6ac</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4a3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f52b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f52a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f48a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f489</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4b0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4b4</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4b5</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4b7</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4b6</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4b3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4b8</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4f2</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e7</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e5</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e4</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2709</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e9</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e8</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4ef</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4eb</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4ea</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4ec</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4ed</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4ee</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4e6</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4dd</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c4</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4ca</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c8</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c9</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4dc</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4cb</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c5</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c6</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c7</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4c2</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2702</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4cc</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4ce</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2712</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x270f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4cf</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d5</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d7</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d8</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d9</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d4</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d2</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4da</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4d6</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f516</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4db</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f52c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f52d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f4f0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3a8</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3ac</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3a4</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3a7</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3bc</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b5</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b6</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b9</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3bb</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3ba</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b7</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b8</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f47e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3ae</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f0cf</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b4</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f004</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b2</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3af</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3c8</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3c0</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x26bd</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x26be</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3be</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3c9</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3b3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x26f3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f6b5</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f6b4</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3c1</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3c7</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3c6</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3bf</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3c2</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3ca</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3c4</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f3a3</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x2615</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f375</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f376</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f37c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f37a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f37b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f378</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f379</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f377</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f374</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f355</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f354</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f35f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f357</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f356</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f35d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f35b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f364</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f371</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f363</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f365</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f359</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f358</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f35a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f35c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f372</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f362</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f361</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f373</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f35e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f369</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f36e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f366</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f368</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f367</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f382</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f370</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f36a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f36b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f36c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f36d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f36f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f34e</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f34f</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f34a</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f34b</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f352</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f347</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f349</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f353</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f351</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f348</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f34c</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f350</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f34d</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f360</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f346</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f345</string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>code</key>
		<string>0x1f33d</string>
		<key>type</key>
		<string>1</string>
	</dict>
</array>
</plist>
